@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Poppins';
  width: 100vw;
  height: 100vh;
  padding: 30px;
  overflow-x: hidden;
}

.content {
  gap: 5rem;
  width: 100%;
  padding-top: 3rem;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
  transform: scaleX(0);
}

h1, p{
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0 ,0 0);
}